<div class="row">
  <div class="col-sm-12">
    <div class="header well">
      <h2>DashBoard</h2>
      <p>Welcome to NRP Portal: Client Dashboard</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="well dashboard-project">
      <a [routerLink]="['/client-project']" style="text-decoration:none; color: black;">
        <img src="assets/project.png" class="dashboard-img">
        <h3>Projects</h3>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well dashboard-Feedback">
      <a [routerLink]="['/client-feedback']" style="text-decoration:none; color: black;">
        <img src="assets/feedback.png" class="dashboard-img">
        <h3>Feedback</h3>
      </a>
    </div>
  </div>
</div>
