.main-content {
	padding-left: 280px;
	padding-right: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10px;
}

.list {
  height: calc(100% - 5px);
  background-color: white;
  padding: 10px;
  overflow: auto;
}

h4 {
  margin: 10px;
}

h6 {
  margin: 10px;
  text-align: center;
}

.delete {
  width: 150px;
  border: none;
  background-color: #FC3636;
  color: #EBEBEB;
  border-radius: 2PX;
}
.header {
  background-color: #227093;
  color: azure;
}
