<div class="main-content">
    <div class="container-fluid">
        <h3>EMPLOYEES LIST</h3>
        <form>
            <input type="text"class="input"> 
            <button class="search">Search</button>
        </form>

        <div class="table-wrapper-scroll-y">
            <table class="table-striped table-bordered" style="margin-top: 10px">
              <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact number</th>
                    <th>Alternative Number</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees" >
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.contactNumber}}</td>
                    <td>{{employee.alternativeNumber}}</td>
                    <td>{{employee.email}}</td>
                    <td><button class="btn btn-primary btn-small" (click)="toEdit(employee.employeeId)">Edit / View</button></td>
                    <td><button class="btn btn-danger btn-small" (click)="toDelete(employee.employeeId)"  data-toggle="modal" data-target="#confirm">Remove</button></td>
                  </tr>
                </tbody>
            </table>
        </div>

        <form>
            <button class="add" (click)="toAdd()">ADD EMPLOYEE</button>
        </form>
    </div>
</div>