<div class="main-content">
    <div class="container-fluid">
        <h3>SUPPLIER LIST</h3>
        <form>
            <input type="text"class="input"> 
            <button class="search">Search</button>
        </form>

        <div class="table-wrapper-scroll-y">
            <table class="table-striped table-bordered" style="margin-top: 10px">
                <thead>
                    <tr>
                      <th>Supplier Name</th>
                      <th>Contact number</th>
                      <th>Email</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let supplier of suppliers">
                      <td>{{supplier.name}}</td>
                      <td>{{supplier.tell}}</td>
                      <td>{{supplier.email}}</td>
                      <td>{{supplier.address}}</td>
                      <td><button class="btn btn-primary btn-small" (click)="toEdit(supplier.supplierId)">Edit / View</button></td>
                      <td><button class="btn btn-danger btn-small" (click)="toDelete(supplier.supplierId)" data-toggle="modal" data-target="#confirm">Remove</button></td>
                    </tr>
                  </tbody>
            </table>
        </div>

        <form>
            <button class="add" (click)="toAdd()">ADD SUPPLIER</button>
        </form>
    </div>
</div>