<div class="main-content">
    <div class="container-fluid">
        <h3>CLIENTS LIST</h3>
        <form>
            <input type="text"class="input"> 
            <button class="search">Search</button>
        </form>

        <div class="table-wrapper-scroll-y">
            <table class="table-striped table-bordered" style="margin-top: 10px">
                <thead>
                    <tr>
                      <th>Client Name</th>
                      <th>Vat Number</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of clients">
                      <td>{{client.clientName}}</td>
                      <td>{{client.vatNumber}}</td>
                      <td>{{client.address}}</td>
                      <td><button class="btn btn-primary btn-small" (click)="toEdit(client.clientId)">Edit / View</button></td>
                      <td><button class="btn btn-danger btn-small" (click)="toDelete(client.clientId)" data-toggle="modal" data-target="#confirm">Remove</button></td>
                    </tr>
                  </tbody>
            </table>
        </div>

        <form>
            <button class="add" (click)="toAdd()">ADD CLIENT</button>
        </form>
    </div>
</div>