<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="assets/login_black.png" id="icon" />
        <h3>NRP PORTAL</h3><br>
        <h5>Password reset</h5>
      </div>
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter your username" [(ngModel)]="username" required>
        <button class="fadeIn fourth" (click)="request(0)">Reset (Employees)</button>
        <button class="fadeIn fourth" (click)="request(1)">Reset (Clients)</button><br />
        
      </form>
    </div>
  </div>
</body>
