<div class="main-content">
    <h4 align="center" style="padding: 20px">ADMIN PANEL</h4>

    <div class="card-columns">
        <div class="card stats">
            <div>
                <h3 style="color:green">{{employees.length}}</h3>
            </div>
            <p>Employees</p>
        </div>
        <div class="card stats">
            <div>
                <h3 style="color:red">{{clients.length}}</h3>
            </div>
            <p>Clients</p>
        </div>
        <div class="card stats">
            <div>
                <h3>{{suppliers.length}}</h3>
            </div>
            <p>Suppliers</p>
        </div>
    </div>

    <div class="card-columns">
        <div class="card">
            <div class="card-body" style="background-color:#ffb142">
                <a [routerLink]="['/admin-employee']" class="card-title" align="center">
                    <img src="assets/employees.png" class="img">
                </a>
                <a [routerLink]="['/admin-employee']" align="center">
                    <h6>EMPLOYEES</h6>
                </a>
            </div>
        </div> 
        
        <div class="card">
            <div class="card-body" style="background-color:#227093;">
                <a [routerLink]="['/admin-client']" class="card-title" align="center">
                    <img src="assets/client.png" class="img">
                </a>
                <a [routerLink]="['/admin-client']" align="center">
                    <h6>CLIENTS</h6>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body" style="background-color:#F82E2E;">
                <a [routerLink]="['/admin-supplier']" class="card-title" align="center">
                    <img src="assets/supplier.png" class="img">
                </a>
                <a [routerLink]="['/admin-supplier']" align="center">
                    <h6>SUPPLIERS</h6>
                </a>
            </div>
        </div> 
    </div>
</div>